body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-class {
  height: 100%;
  padding: 30px
}

.inputType {
  margin: 10px;
    border: #ccc solid;
    height: 30px;
    width: 50%;
}

.form-class button {
  width: 128px;
  height: 35px;
  color: #fff;
  background: #7a929a;}